<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.lheberlie.cordova.mobilestarter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobile Starter</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <!--
      Define access to external domains.

      <access />            - a blank access tag denies access to all external resources.
      <access origin="*" /> - a wildcard access tag allows access to all external resource.

      Otherwise, you can specify specific domains:
  -->
    <access origin="http://127.0.0.1*"/>
    <!-- allow local pages -->

    <!-- All protocols and subdomains below are allowed -->
    <access origin="*.arcgis.com"/>
    <access origin="*.arcgisonline.com"/>

    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->
</widget>
